.innocode-block-testimonial {

	& &__author {

		&-name {
			background: none;
			box-shadow: none;
		}

		&-image {
			margin: 0;

			&-delete {
				opacity: 0;
				position: absolute;
				top: 0;
				right: 0;
				margin: 0 !important;
				background: rgba(0, 0, 0, 0.5);
				color: #fff;
				transition: opacity 0.3s;
			}

		}

		.components-button {
			border-radius: 0;
		}

	}

	.editor-post-featured-image {
		flex-shrink: 0;
		margin-right: 20px;
		position: relative;

		&:hover {

			.innocode-block-testimonial {

				&__author-image-delete {
					opacity: 1;
				}

			}

		}

		&__toggle {
			width: 150px;
			height: 150px;
		}

		&__preview {
			padding: 0;
		}

	}

}

.block-editor-block-inspector .components-base-control {
	width: 100%;
}
