.innocode-block-testimonial {

	&-author {

		&__image {
			position: relative;
		}

		&__remove-image {
			transition: opacity 0.3s;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 2;
			opacity: 0;
			background: rgba(0, 0, 0, 0.5);
			color: #fff;
		}

		&__image:hover &__remove-image {
			opacity: 1;
		}

		.components-button {
			border-radius: 0;
			padding: 0;
		}
	}

	.editor-post-featured-image {

		&__preview {
			position: relative;
			z-index: 1;
		}
	}
}
